<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:beans*.xml</param-value>
	</context-param>

	<!-- 负责创建IOC容器：并将IOC容器存放到application域中 
	默认加载文件路径：/WEB-INF/applicationContext.xml        
	创建IOC容器对象的具体类型：XmlWebApplicationContext
	-->		
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

  <servlet>
    <description></description>
    <display-name>DisplayUserServlet</display-name>
    <servlet-name>DisplayUserServlet</servlet-name>
    <servlet-class>com.atguigu.spring.servlet.DisplayUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUserServlet</servlet-name>
    <url-pattern>/DisplayUserServlet</url-pattern>
  </servlet-mapping>
</web-app>