<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
    	<!-- 常用属性配置 -->
    	<property name="hibernate.show_sql">true</property>
    	<property name="hibernate.format_sql">true</property>
    	<property name="hibernate.hbm2ddl.auto">update</property>
    	<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
    
    	<!-- 映射配置 -->
    	<mapping resource="com/atguigu/crud/entity/Department.hbm.xml"/>
    	<mapping resource="com/atguigu/crud/entity/Employee.hbm.xml"/>
    	
    	<!-- 其他配置 -->
    
    </session-factory>
</hibernate-configuration>
